.filter-container {
  display: flex;
  gap: 1em;
  padding: 1em;
  background: rgb(255, 255, 255);
  border-radius: 4px;
  box-shadow: 0 0.13em 0.25em rgba(0, 0, 0, 0.1);
  align-items: center;
  flex-wrap: wrap;

  .filter-item {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 100%;

    @media (min-width: 602px) {
      &.search-item {
        margin-left: auto;
      }
    }
    
    @media (min-width: 602px) and (max-width: 1152px) {
      &.search-item {
        margin-left: initial;
      }
    }

    .search-container {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
      top: 10px;
  
      input {
        width: 100%;
        padding: 0.3em 1.9 0.3em 0.6em;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
  
      span {
        background-color: transparent;
        border: none;
        position: absolute;
        right: 0.5em;
  
        i {
          font-size: 1em;
          color: rgb(143, 180, 199);
        }
      }
    }

    .status-item {
      width: 100%;
    }
    label {
      margin-bottom: 0.5em;
      font-weight: bold;
      font-size: 0.8em;
      &.status-checkbox {
        font-weight: unset !important;
      }
    }

    input[type="checkbox"] {
        margin-right: 0.5em;
    }

    input[type="date"],
    input[type="text"] {
      width: 100%;
      padding: 0.5em;
      border: none;
    }
  }

  select {
    width: 100%;
    padding: 0.5em;
    border: none;
    border-right: 1px solid rgb(239, 239, 239);
    border-left: 1px solid rgb(239, 239, 239);
  }

  .vertical-line {
    width: 1px;
    background-color: #ccc;
    height: 100%;
  }
  

}
