<section class="orders-history-container">
    <ng-container>
        <cmx-filter></cmx-filter>
    </ng-container>
    <ng-container *ngIf="filteredOrders.length > 0 && filteredOrders; else no_results">
        <table>
            <thead>
                <tr>
                    <th *ngFor="let header of displayedColumns">{{header}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let order of filteredOrders">
                    <td>
                        <span [ngClass]="getOrderStatusClass(order.status)" class="status-indicator"></span>
                        {{order.status | addSpace}}
                    </td>
                    <td>{{order.orderNumber}}</td>
                    <td>{{order.line}}</td>
                    <td [ngStyle]="{ 'font-weight': 'bold'}">{{order.productName}}</td>
                    <td>{{order.quantity}} {{order.unit}}</td>
                    <td>{{order.requestDate}}</td>
                </tr>
            </tbody>
        </table>
    </ng-container>
    <ng-template #no_results>
        <cmx-no-results></cmx-no-results>
    </ng-template>
</section>