<section class="filter-container">
  <div class="filter-item">
    <label class="status-item">Status</label>
    <label class="status-checkbox" for="order-status" *ngFor="let status of orderStatuses;"><input id="order-status"
        type="checkbox" [formControl]="orderStatus" [value]="status" (change)="onStatusChange(status, $event)" />
      {{status}}</label>
  </div>
  <div class="filter-item">
    <label for="product-line">Product Line</label>
    <select id="product-line" [formControl]="productLine" (change)="onProductLineChange(productLine.value!)">
      <option [value]="''">All Product Lines</option>
      <option id="product-line" *ngFor="let line of productLines" [value]="line">{{line}}</option>
    </select>
  </div>
  <div class="filter-item">
    <label for="from-date">From</label>
    <input [formControl]="dateFrom" [value]="dateFrom.value" type="date" id="from-date"
      (change)="onDateFromChange(dateFrom.value!)" />
  </div>
  <div class="filter-item">
    <label for="to-date">To</label>
    <input [formControl]="dateTo" [value]="dateTo" type="date" id="to-date" (change)="onDateToChange(dateTo.value!)" />
  </div>

  <div class="filter-item reset-filter" (click)="resetFilter()">
    <i class="fa-solid fa-filter-circle-xmark"  title="Click to reset filters"></i>
  </div>

  <div class="search-item filter-item">
    <div class="search-container">
      <input id="search" type="text" placeholder="Search for Order Number" [formControl]="orderNumber"
        [value]="orderNumber" (input)="onSearchedOrderNumberChange(orderNumber.value!)" />
      <span>
        <i class="fa fa-search"></i>
      </span>
    </div>
  </div>
</section>